body {
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.map {
    display: flex;
    align-items: center;
    width: 80%;
    float: left;
    margin: 50px;
}
.map path {
        fill: darkblue;
        fill-opacity: 1;
        stroke:white;
        stroke-opacity: 1;
        stroke-width:2;
}
#FR-GES:hover {
    fill: brown;
}
#FR-NAQ:hover {
    fill: plum;
}
#FR-ARA:hover {
    fill: purple;;
}
#FR-BFC:hover {
    fill: blueviolet;
}
#FR-BRE:hover {
    fill: green;
}
#FR-CVL:hover {
    fill: yellow;
}
#FR-COR:hover {
    fill: grey;
}
#FR-IDF:hover {
    fill: black;
}
#FR-OCC:hover {
    fill: navajowhite;
}
#FR-HDF:hover {
    fill: turquoise;
}
#FR-NOR:hover {
    fill: palevioletred;
}
#FR-PDL:hover {
    fill: sienna;
}
#FR-PAC:hover {
    fill: orange;
}

p {
    width: 50%;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color: white;
  }
