body{
    background-color: #3B4A51;
    width: auto;
}

div.PAGE{
    margin-left: 175px;
    margin-right: 175px;
    background-color: #FAF4D4;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
}

header img{

}

img.logo{
    padding-bottom: 100px;
    height: 210px;
    margin-left: 155px;
    margin-right: 500px;
    max-width: 1200px;
}

div.fonddepage{
    background-color: white;
}

h1{
    color: orange;
    font-size: 52px;
    margin-left: 150px;
    font-weight: 100;
    padding-top: 50px;
}

strong{
    font-size: 33px;
    font-weight: 800;
    color: #7AAD9B;
}

section img{
    margin-left: 155px;
    margin-right: 500px;
    max-width: 1200px;
}

div.HAUTPAGE{
    padding-bottom: 150px;
}
div.MILLIEUPAGE{
    padding-top: 100px;
    padding-bottom: 100px;
}
div.BASPAGE{
    padding-top: 100px;
}

p.PARAPETIT{
    font-size: 18px;
    margin-left: 275px;
    margin-right: 275px;
    font-weight: 600;
    font-size: 26px;
}

p.principal{
    margin-left: 275px;
    margin-right: 275px;
    font-weight: 600;
    font-size: 26px;
}

p.sousparagraphe{
    margin-left: 150px;
    margin-right: 275px;
    border-left: 1px solid black;
    padding-left: 20px;
    font-weight: lighter;
    font-size: 26px;
}

em{
    color: #7AAD9B;
}

h2{
    margin-left: 175px;
    color: #7AAD9B;
    font-size: 36px;

}

ul{
    font-weight: 800;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;

}

ul li{
    margin: 20px;
}
