body {
  background-color: #efe784;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(../image/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 300px;
  margin-right: 300px;
  height: 500px;
}

header img {
  width: 600px;
  margin-left: 375px;
  padding-top: 120px;
}

h1 {
  color: #efe784;
  margin: 0 auto;
  margin-left: 435px;
  align-items: center;
  letter-spacing: 30px;
  padding-top: 40px;
  font-size: 40px;
  font-weight: 300;
}

.intro {
  background-color: #3e3838;
  margin-left: 300px;
  margin-right: 300px;
}

.pageintro {
  margin-left: 220px;
  margin-right: 180px;
  padding-top: 35px;
  padding-bottom: 75px;
}

.intro h2 {
  color: #efe784;
  margin-left: 350px;
  margin-right: 355px;
  font-size: 40px;
  border-top: 1px solid #efe784;
  border-bottom: 1px solid #efe784;
  letter-spacing: 20px;
  font-weight: lighter;
}

.intro p {
  color: #efe784;
  font-size: 23px;
  font-weight: 200;
}

.avengers {
  background-color: #d9d9d9;
  margin-left: 300px;
  margin-right: 300px;
}

.pageavengers {
  margin-left: 220px;
  margin-right: 180px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pageavengers h2 {
  color: #6cbcb3;
  font-size: 60px;
}

.pageavengers p {
  padding-bottom: 40px;
  font-size: 23px;
  font-weight: 300;
}

.pageavengers img {
  width: 950px;
  max-width: 950px;
  max-height: 400px;
}

ul {
  padding-top: 50px;
}

.pageavengers ul li {
  color: #6cbcb3;
  font-size: 23px;
}

.star {
  background-color: #6cbcb3;
  margin-left: 300px;
  margin-right: 300px;
}

.pagestar {
  margin-left: 220px;
  margin-right: 180px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagestar h2 {
  color: black;
  font-size: 60px;
}

.pagestar p {
  font-size: 23px;
  font-weight: 200;
  padding-bottom: 50px;
  margin-right: 50px;
}

.pagestar img {
  width: 950px;
  max-width: 950px;
  max-height: 400px;
}

.pagestar ul li {
  color: white;
  font-size: 23px;
}

.woman {
  background-color: #3e3838;
  margin-left: 300px;
  margin-right: 300px;
}

.pagewoman {
  margin-left: 220px;
  margin-right: 180px;
  padding-top: 30px;
  padding-bottom: 30px;
}
}

.pagewoman h2 {
  color: white;
  font-size: 60px;
}

.pagewoman p {
  font-size: 23px;
  font-weight: 200;
  padding-bottom: 50px;
  margin-right: 50px;
  color: white;
}

.pagewoman img {
  width: 950px;
  max-width: 950px;
  max-height: 400px;
}

div.pagewoman ul li {
  color: white;
  font-size: 23px;
}

footer {
  background-color: #000000;
  margin-left: 300px;
  margin-right: 300px;
}

footer img {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 100px;
}

footer p {
  color: white;
  margin: 0 100px;
  padding: 30px 0 80px 0;
}

footer span {
  color: #efe784;
}

