body{
    background-color: brown;
}

h1{
    text-align: center;
    font-size:  150px;
    font-weight: bold;
    color: white;
}

p{
    color: white;
    margin: 60px;
    text-align: center;
}

img{
    
}
